body {
	margin: 0px;
	padding: 0px;
}

.container-blur {
	-webkit-filter: blur(2px);

	-webkit-transition: all 400ms;
    /*
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
	
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	*/
}
.container-focus {
	-webkit-filter: blur(0px);

	-webkit-transition: all 200ms;
}

.loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	z-index: 99;

	text-align: center;
}
.loading-show {
	-webkit-transition: all 400ms;
}
.loading-hide {
	opacity: 0;
	-webkit-transition: all 400ms;
	
}

.loading-content {
	position: relative;
	top: 30%;
	z-index: 100;

	font-size: 16px;
	color: #777;
}

#loading-image {
	width:50px;
	height:50px;

	padding: 10px;
}



.template-data > li {
	border-bottom: 1px dashed #777;
}
.recursive-data-template input[type='button'] {
	background-color: inherit;
	border: 0px;
	margin-right: -5px;
	padding: 0px;
	cursor: text;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;

	height: inherit;
}
.recursive-data-template .form-control {
	display: inline;

	width: inherit;

	margin-right: -5px;
	margin-top: 3px;
	margin-bottom: 3px;
}

li {
   list-style: none;
}
li div.btn-group, div.btn-group-vertical {
	position: absolute;
	right: 1%;
	padding-top: 10px;
}
.recursive-template {
   border-left: 1px dashed #777;
}

.notation {
	font-size: 20px;
	color: #666;
}


div.container {
	padding-top: 10%;
	padding-left: 30%;
	padding-right: 30%;

	width: 100%;

	background-color: #ddd;

}

#data {
	box-shadow: 0px -2px 10px #888;
}