<!DOCTYPE HTML>
<html> 
<head>
	<title>Mongo User Iterface</title>

	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>


</head>
<body data-ng-app>
	<!-- top fixed nav bar -->
	<nav data-ng-include="src='html/navbar-header.html'"
	class=" navbar navbar-default navbar-fixed-top" role="navigation">
		Loading navbar...
	</nav>

	<div data-ng-controller="collectionController" class="container" style="">
		<!-- Collections and fields -->
		<div class="col-md-4" style="border:;">

			<!-- Collections -->
			<div class="row" style="border:;">
				<div class="col-md-8"> 			
					<select class="form-control" style="" data-ng-model="currentCollection"
					data-ng-options="collection as collection.name for collection in collections" data-ng-change="loadFields()">
						<option value="">Collections</option>
					</select>
				</div>
				<div class="col-md-4">
					<input class="btn" type="button" data-ng-click="showCollections()" value="show collections" />
				</div>
			</div> <!-- end c -->

			<!-- Fields -->
			<div class="row" style="border:;">
				<form data-ng-show="showFields">
					<div class="form-group" data-ng-repeat="(key, value) in currentCollection.fields">
						<label for={{key}}>{{key}}</label>
						<input data-ng-model="currentCollection.fields[key]" class="form-control" type="text"
						placeholder={{currentCollection.name}}.{{key}}
						name={{key}}
						id="{{currentCollection.name}}_{{key}}" /> 
					</div>

					<!-- new field -->    
					<div class="form-group">
						<div class="row" data-ng-show="showNewField">
							<div class="col-md-10">
								<input data-ng-model="newFieldName" class="form-control" type="text"/> 
							</div>
							<div class="col-md-2">
								<input class="btn" type="button" value="+" data-ng-click="addField()" /> 
							</div>
						</div>
					</div>

					<!-- buttons -->
					<input class="btn btn-primary" type="submit" data-ng-click="showLoading=true;loadData();" value="Pesquisar" />
					<input class="btn" type="button" data-ng-click="showNewField = !showNewField" value="Adicionar campo" />
					<input class="btn btn-success" type="button" data-ng-click="insertData()" value="Inserir registro" />

				</form>
			</div> <!-- end field -->
		</div> <!-- end c and f -->

		<!-- Data -->
		<div class="col-md-8" style="border:;">
			<div data-ng-include="src='recursive-data-template.html'"></div>
		</div>

		<!-- <div data-ng-show="showLoading">
			<div style="position:absolute;top:100px;left:100px;z-index:100;width:100px;height:100px;border:1px solid black;">Loading</div>
		</div> -->

	</div> <!-- End controller scope -->

	<!-- recursive template for data show -->
	<!-- @todo problem in ng-show (all ngshow after the first are showed) -->
	<script type="text/ng-template" id="recursive-data-template.html">
		<span data-ng-if="typeOf(data) == 'string'">{{data}}</span>
		<div data-ng-if="typeOf(data) != 'string'" data-ng-repeat="document in data">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th data-ng-repeat="(key, data) in document" data-ng-if="typeOf(data) != 'boolean'">
							{{key}}
						</th>
					</tr>
				</thead>						
				<tr>
					<td data-ng-repeat="(key, data) in document">
						<span data-ng-if="typeOf(data) != 'object' && typeOf(data) != 'boolean'">{{data}}</span>
						<span data-ng-if="typeOf(data) == 'object' && typeOf(data) != 'boolean'">
							<input type="button" class="btn btn-primary" data-ng-click="toggle(document, key)" value="Mostrar {{key}}"/>
							<div data-ng-show="document.show{{key}}" data-ng-include="'recursive-data-template.html'"><div>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</script>
</body>
</html>