<!DOCTYPE HTML>
<html> 
<head>
	<meta charset="UTF-8">
	<title>Mongo User Interface</title>

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/script-jquery.js"></script>
</head>
<body data-ng-app="mongoApp">
	<!-- @todo
		Create .class and .show properties in $scope, to separete the
		Also separate all methods in $scope properties (field methods, data, show, class and etc)
		remove <br>'s
	-->
	<div data-ng-controller="collectionController">

		<!-- Loading -->
		<div class="loading" data-ng-show="show.loading">
			<div class="loading-content">
				<img id="loading-image" src="images/loading.gif" alt="Loading..." />{{label_loading}}
			</div>
		</div>
		
		<div data-ng-class="class.container" data-ng-click="containerClosepopup()">
			
			<!-- top fixed nav bar -->
			<nav data-ng-include="src='html/navbar-header.html'"
			class=" navbar navbar-default navbar-fixed-top" role="navigation">
				Loading navbar...
			</nav>

			<!-- Collections and fields -->
			<div class="col-md-4" style="border:;">

				<!-- Collections -->
				<div class="row" style="border:;">
					<div class="col-md-8 col-xs-8"> 	
						<select class="form-control" style="" data-ng-model="currentCollection"
						data-ng-options="collection as collection.name for collection in collections" data-ng-change="addData();connection.loadFields()">
							<option value="">{{messages[messages.current]['label_collections']}}</option>
						</select>

					</div>

					<div class="col-md-4 col-xs-4">
						<input class="btn" type="button" data-ng-click="showCollections()" value="console.log" />
					</div>
				</div> <!-- end c -->

				<!-- Fields -->
				<div class="row">
					<br />
					<form data-ng-show="show.fields" id="form_fields">
						<div data-ng-repeat="(key, value) in currentCollection.fields">
							<div class="input-group">
								<label  class="input-group-addon"><strong>{{key}}</strong></label>
								<input data-ng-model="currentCollection.fields[key].value" class="form-control"
								type={{field.type[currentCollection.fields[key].type]}}
								placeholder={{currentCollection.name}}.{{key}}
								id="{{currentCollection.name}}_{{key}}" />
							</div>
							<br />
						</div>

						<!-- buttons -->
						<input class="btn btn-primary" type="submit"
							data-ng-click="connection.loadData()"
							value={{messages[messages.current]['label_search']}} />

						<input class="btn btn-default" type="button"
							data-ng-click="openPopup(); $event.stopPropagation();"
							value={{messages[messages.current]['label_addField']}} />

						<input class="btn btn-success" type="button"
							data-ng-click="connection.insertData()"
							value={{messages[messages.current]['label_insertData']}} />

					</form>
				</div> <!-- end field -->
			</div> <!-- end c and f -->


			<!-- Data -->
			<div class="col-md-8" style="border:;" data-ng-show="show.data">
				<ul class="template-data">
					<li data-ng-repeat="value in currentCollection.data">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-ng-click="connection.deleteData($index)">
								{{messages[messages.current]['label_deleteData']}}
							</button>
							<button type="button" class="btn btn-default" data-ng-click="connection.changeData(value)">
								{{messages[messages.current]['label_changeData']}}
							</button>
							<button type="button" class="btn btn-danger" data-ng-click="connection.commitActions(value)">
								Commit
							</button>
						</div>
						<div data-ng-include="src='recursive-data-template.html'"></div>
					</li>
				</ul>
			</div>
		</div> <!-- End container scope -->

		<!-- They are out of container scope to not be blur -->
		
		<!-- new field -->
		<div data-ng-class="class.popup" data-ng-keydown="closePopup($event)">
			<form>
				<div data-ng-show="show.newField">
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group">
								<input data-ng-model="field.new.name" class="form-control" type="text"  placeholder={{messages[messages.current]['message_addData']}} />

								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"
										data-ng-click="field.add(); closePopup()">+</button>
									<button class="btn btn-default" type="button"
										data-ng-click="closePopup()">&times;</button>
								</span>
							</div><!-- /input-group -->
						</div><!-- /.col-lg-12 -->
					</div><!-- /.row -->
				</div>
				
				<div class="row">
					<select class="form-control" data-ng-model="field.new.type" data-ng-change="field.updateTemplate(field.new)">
						<option value="">{{messages[messages.current]['label_fieldType']}}</option>
						<option value="number">Number</option>
						<option value="text">String</option>
						<option value="checkbox">Boolean</option>
						<option value="object">Object</option>
						<option value="array">Array</option>
					</select>
					<input class="btn btn-default" type="button" value="+" 
						data-ng-show="field.new.showAddChild" data-ng-click="field.addChild(field.new)" />
				</div>
				<span data-ng-if="field.new.type == 'object'">
					<ul>
						<li data-ng-repeat="value in field.new.value">
							<div data-ng-include="src='recursive-field-template.html'"></div>
						</li>
					</ul>
				</span>
			</form>
		</div>

	</div> <!-- End controller scope -->


	<!-- recursive template for data show -->
	<!-- @todo problem in ng-show (all ngshow after the first are showed) 
			Do not add control properties in the iterated object 
	-->
	<!-- @todo use twig -->
	<!-- @todo consider if is an array or object -->
	<script type="text/ng-template" id="recursive-data-template.html">
		<ul class="recursive-template">
			<li data-ng-repeat="(key, value) in value">
				<span data-ng-if="!isNumber(key)"> 
					{{key}}: 
				</span>
				<span data-ng-if="typeOf(value) != 'object'">
				{{value}}<span data-ng-if="!$last"><span class="notation">,</span></span>
				</span>
				<span data-ng-if="isArray(value)">
					<span class="notation">[</span>
					<div data-ng-include="src='recursive-data-template.html'"></div>
					<span class="notation">]</span><span data-ng-if="!$last"><span class="notation">,</span></span>
				</span>
				<span data-ng-if="isObjectAndNotArray(value)">
					<span class="notation">{</span>
					<div data-ng-include="src='recursive-data-template.html'"></div>
					<span class="notation">}</span><span data-ng-if="!$last"><span class="notation">,</span></span>
				</span>
			</li>
		</ul>
	</script>

	<script type="text/ng-template" id="recursive-field-template.html">
		<ul class="recursive-template">
			<li>
				<div class="row">
					<div class="col-lg-12">
						<div class="input-group">
							<span class="input-group-btn">
								<input class="btn btn-danger" type="button" value="-"
								data-ng-click="field.selfDelete(this, $index)" />
							</span>
							<input data-ng-model="value.name" class="form-control" type="text"  placeholder={{messages[messages.current]['message_addData']}} />
						</div>
					</div>
				</div>
				<select class="form-control" data-ng-model="value.type" data-ng-change="field.updateTemplate(value)">
					<option value="">{{messages[messages.current]['label_fieldType']}}</option>
					<option value="number">Number</option>
					<option value="text">String</option>
					<option value="checkbox">Boolean</option>
					<option value="object">Object</option>
					<option value="array">Array</option>
				</select>
					<input class="btn btn-default" type="button" value="+" 
						data-ng-show="value.showAddChild" data-ng-click="field.addChild(value)" />
				<span data-ng-if="value.type == 'object'">
					<ul>
						<li data-ng-repeat="value in value.value">
							<div data-ng-include="src='recursive-field-template.html'"></div>
						</li>
					</ul>
				</span>
			</li>
		</ul>
	</script>

	<!-- This is deprecated (soon will be removed) -->
	<script type="text/ng-template" id="_recursive-data-template.html">
		<span data-ng-if="typeOf(data) == 'string'">{{data}}</span>
		<div data-ng-if="typeOf(data) != 'string'" data-ng-repeat="document in data">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th data-ng-repeat="(key, value) in document" data-ng-if="typeOf(data) != 'boolean'">
							{{key}}
						</th>
						<td style="text-align:right">
							<input class="btn btn-warning" type="button" data-ng-click="connection.changeData($parent)" value={{messages[messages.current]['label_changeData']}} />
						</td>
					</tr>
				</thead>						
				<tr>
					<td data-ng-repeat="(key, data) in document">
						<span data-ng-if="typeOf(data) != 'object' && typeOf(data) != 'boolean'">{{data}}</span>
						<span data-ng-if="typeOf(data) == 'object' && typeOf(data) != 'boolean'">
							<input type="button" class="btn btn-primary" data-ng-click="toggle(document, key)" value="{{messages[messages.current]['label_showData']}} {{key}}"/>
							<div data-ng-show="document.show{{key}}" data-ng-include="'recursive-data-template.html'"><div>
						</span>
					</td>
					<th style="text-align:right">
						<input class="btn btn-danger" type="button" data-ng-click="connection.changeData($index)" value={{messages[messages.current]['label_deleteData']}} />
					</th>
				</tr>
			</table>
		</div>
	</script>
</body>
</html>