<div ng-controller="contentController">
    <ul class="container" id="container">
        <li ng-repeat="content in study.content | filter:search">
            <h1 ng-click="show_sc = !show_sc">{{content.content_title}}</h1>

            <ul ng-show="show_sc">
                <li ng-repeat="sub_content in content.sub_content | filter:search">
                    <h3 ng-click="show_an = !show_an">{{sub_content.sub_title}}</h3>

                    <ul ng-show="show_an">
                        <li ng-repeat="annotation in sub_content.annotation | filter:search">
                            <h4 ng-click="show_p = !show_p">{{annotation.in_title}}</h4>
                            <p ng-show="show_p">{{annotation.note}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
